
<div style="margin-bottom: 20px;">
<footer class="main-footer">
  <div style="text-align: center;">
  <strong>Copyright &copy; 2022-2023 <a href="https://www.youtube.com/@dfoInternet/videos">Postapp</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b>
  </div>
</footer>
</div>
</div>